* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'American Captain';
    background-color: '#F6EDC4';
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: '#F6EDC4';
}

#root {
    margin: 0;
    padding: 0;
    background-color: '#F6EDC4';
    overflow-x: hidden;
}

@font-face {
    font-family: 'American Captain';
    src: url('/american_captain/American Captain.otf') format('opentype');
}

@font-face {
    font-family: 'Arcade Classic';
    src: url('/arcade_classic_2/ARCADECLASSIC.TTF') format('truetype');
}
@font-face {
    font-family: 'Inria Sans';
    src: url('/inria_sans/InriaSans.ttf') format('truetype');
}

@keyframes noteFloat {
    0% {
        transform: scale(0) translateX(0);
        opacity: 0;
    }
    25% {
        transform: scale(1) translateX(-20vw);
        opacity: 1;
    }
    75% {
        transform: scale(1) translateX(-40vw);
        opacity: 1;
    }
    100% {
        transform: translateX(-60vw) scale(0);
        opacity: 0;
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes jumpIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    60% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
